.tagContainer {
    font-size: 0.7rem;
    font-weight: bold;
    
    border-radius: 0.5rem;
    display: flex;
    margin-left: auto;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    min-width: 75px;


    span {
        margin: 0 auto;
    }
}