@import '../../styles/variables';

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: calc(100vh - 5rem);
}

.post {
    max-width: 720px;
    padding-top: 3rem;
    margin: 0rem auto 0;
    
    .image_banner {
        height: 15vh;
    }

    img {
        object-fit: cover;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 3.0rem;
        font-weight: 900;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    h3 {
        font-size: 2rem;
        font-weight: 900;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 900;
    }

    time {
        display: block;
        font-size: 1rem;
        color: var(--white);
        margin-top: 1.5rem;
    }

    .postContent {
        margin-top: 2rem;
        line-height: 2rem;
        font-size: 1.125rem;
        color: var(--gray-100);

        p,
        ul {
            margin: 1.5rem 0;
        }

        ul {
            padding-left: 1.5rem;

            li {
                margin: 0.5rem 0;
            }
        }

    }

    @media (max-width: $breakpoint-md) {
        padding-top: 2rem;

        h1 {
            font-size: 2rem;
        }
    }

    .caption {
        line-height: 20px;
        text-align: center;
        font-weight: 400;

        position: relative;
        font-size: 14px;
        top: -20px;
    }
}
