@import '../../styles/variables';

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: calc(100vh - 6.5rem);
}

.imgContainer {
    object-fit: cover;
    width: 50%;
    height: 250px;
    display: block;
    padding-right: 1rem;

    span {
        position: relative!important;
        width: 100%!important;
        height: 100%!important;
        display: block!important;
    }

    @media (max-width: $breakpoint-md) {
        height: 15rem;
    }

    @media (max-width: $breakpoint-sm) {
        width: 100%;
    }
}

.notData {

    padding-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 3rem;

    p {
        font-size: 26px;
        line-height: 28px;
    }

    img {
        height: 65px;
        width: 65px;
        display: inline-flex;
        margin-right: 1rem;
    }
}

.postContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top: 1rem;
    padding-top: 1rem;

    a {
        padding-right: 0rem;
        padding-left: 1rem;
        
    }

    &:nth-child(even) {
        flex-direction: row-reverse;

        .imgContainer {
            padding-right: 0rem;
            padding-left: 1rem;
        }

        a {
            padding-left: 0rem;
            padding-right: 1rem;
        }

        @media (max-width: $breakpoint-sm) {
            flex-direction: column;
            margin-top: 1rem;
            width: 100%;
            padding-left: 0px;

            .imgContainer {
                padding-left: 0rem;
            }
        }
    }

    &:nth-child(4n) {
        border-top: 1px solid var(--yellow-opacity);
        border-bottom: 1px solid var(--yellow-opacity);
        flex-direction: column;

        padding-bottom: 1rem;
        margin-top: 2rem;

        a, .imgContainer {
            width: 100%;
            padding: 0;
        }

        a {
            margin-top: 2rem;
            text-align: justify;
        }
    }

    @media (max-width: $breakpoint-sm) {
        flex-direction: column;
    }
}

.posts {
    max-width: 720px;
    margin: 3rem auto 3rem;

    a {
        display: block;
        width: 50%;

        .subTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div:first-of-type {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    margin-left: 0.5rem;
                }
            }
        }

        time {
            font-size: 0.9rem;
            display: inline;
            align-items: center;
            color: var(--white);
        }

        strong {
            display: block;
            font-size: 1.4rem;
            margin-top: 0.5rem;
            line-height: 2rem;
            transition: color 0.4s;
        }

        p {
            color: var(--white);
            margin-top: 0.5rem;
            line-height: 1.625rem;
        }

        &:hover strong {
            color: var(--yellow-500);
        }

        @media (max-width: $breakpoint-sm) {
            margin-top: 1rem;
            width: 100%;
            padding-left: 0px;
        }
    }
}

.loadingContainer {
    display: flex;
    overflow: hidden;
    padding-top: 1rem;
}

.ldsRing {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ldsEllipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;    

    div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fcf;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        &:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}