.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: calc(100vh - 8rem);
}

.postContainer {
    display: flex;
    flex-direction: row;
    align-items: start;

    margin-top: 1rem;
    padding-top: 1rem;

    a {
        padding-right: 0rem;
        padding-left: 1rem;
     }

    &:nth-child(even) {
        flex-direction: row-reverse;

        img {
            padding-right: 0rem;
            padding-left: 1rem;
        }

        a {
           padding-left: 0rem;
           padding-right: 1rem;
        }
    }

    &:nth-child(4n) {
        border-top: 1px solid var(--yellow-opacity);
        border-bottom: 1px solid var(--yellow-opacity);
        flex-direction: column;

        padding-bottom: 1rem;
        margin-top: 2rem;
        
        a, img {
            width: 100%;
            padding: 0;
        }

        a {
            margin-top: 2rem;
            text-align: justify;
        }
    }

    img {
        display: block;
        width: 50%;
        height: 250px;
        object-fit: cover;
        padding-right: 1rem;

    }
}

.posts {
    max-width: 720px;
    margin: 3rem auto 3rem;

    a {
        display: block;
        width: 50%;

        time {
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            color: var(--white);
        }

        strong {
            display: block;
            font-size: 1.4rem;
            margin-top: 0.5rem;
            line-height: 2rem;
            transition: color 0.4s;
        }

        p {
            color: var(--white);
            margin-top: 0.5rem;
            line-height: 1.625rem;
        }

        &:hover strong {
            color: var(--yellow-500);
        }
    }
}