@import '../../styles/variables';

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: calc(100vh - 6.5rem);
}

.postContainer {
    a {
        padding-right: 0rem;
        padding-left: 1rem;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;

        .imgContainer {
            padding-right: 0rem;
            padding-left: 1rem;
        }

        a {
            padding-left: 0rem;
            padding-right: 1rem;
        }

        @media (max-width: $breakpoint-sm) {
            flex-direction: column;
            margin-top: 1rem;
            width: 100%;
            padding-left: 0px;

            .imgContainer {
                padding-left: 0rem;
            }
        }
    }

    &:nth-child(4n) {
        border-top: 1px solid var(--yellow-opacity);
        border-bottom: 1px solid var(--yellow-opacity);
        flex-direction: column;

        padding-bottom: 1rem;
        margin-top: 2rem;

        a, .imgContainer {
            width: 100%;
            padding: 0;
        }

        a {
            margin-top: 2rem;
            text-align: justify;
        }
    }

    @media (max-width: $breakpoint-sm) {
        flex-direction: column;
    }
}

.posts {
    max-width: 720px;
    margin: 3rem auto 3rem;
}